.footer-distributed .footer-left,
.footer-distributed .footer-center{
  display: inline-block;
  vertical-align: top;
  padding-left: 1rem;
  padding-right: 6rem;
  border-right: 0.2rem solid black;
  height:12rem;
}
.footer-distributed .footer-right
{
  display: inline-block;
  padding-left: 1rem;
}
.footer-distributed{
box-shadow: 0 4rem 4rem 0 rgba(0, 0, 0, 0.0);
  box-sizing: border-box;
  color: black;
  font-size: 1rem;
}
.footer-icons{
  font-size:2rem;
  padding-right: 4rem;: 
}
